body {
  background: rgb(27, 27, 27);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell-input {
  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(73, 73, 73);
  background: 0;
  text-align: center;
  margin: 5px;
  color: #d8d8d8;
  font-size: 3rem;
  caret-color: transparent;
  cursor: pointer;
  box-shadow: 1px 2px 3px 1px #242424;
}

.cell-input:focus {
  outline: none;
  border: 2px solid rgb(136, 136, 136);
}

.disabled {
  pointer-events: none;
}

.correct {
  background: #488f48;
  border-color: #488f48;
}

.exists {
  background: #daa84b;
  border-color: #daa84b;
}

.filled {
  background: #424242;
  border-color: #424242;
}

#timer {
  color: #5caed4;
  font-weight: bold;
}

#the-end {
  text-align: center;
  display: none;
  color: #d8d8d8;
  font-family: arial;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}